$blue: hsl(200, 64%, 66%);
$blue-light: #76a9c2;
$blue-dark: hsl(200, 74%, 46%);

$grey-light: hsl(240, 1%, 75%);
$grey: hsl(240, 1%, 50%);
$grey-dark-light: hsl(240, 1%, 36%);
$grey-dark: hsl(240, 1%, 20%);

$yellow-dark: #ddb100;
