@import '~@/styles/colors';

$bold: bold;

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  content: '';
  cursor: pointer;
  user-select: none;
  z-index: 10;
}
