@import '~@/styles/core';

.page-container {
  height: 100%;

  .page {
    height: 100%;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    transition: transform 300ms ease-in-out;
    background: $white;

    &:not(.shifted) {
      .overlay{
        background-color: transparent;
        pointer-events: none;
      }
    }

    &.shifted {
      transition: transform 500ms ease-in-out;
      transform: translateX(100%);

      .overlay{
        transition: background-color 300ms ease-in-out;
      }
    }
  }
}

.top-bar-logo {
  overflow: hidden;
  height: 100%;

  img {
    height: 60px;
    max-width: 100%;
  }
}

