@import '~@/styles/colors';

.not-menu {
  height: 100%;
  width: 100%;

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    content: '';
  }
}

.page-body {
  height: 100%;
  width: 100%;
}

